<div class="text-center">
    <div class="mt-5">
        <span *ngFor="let step of steps" [ngClass]="step?.stepId == currentActiveStep.stepId ? 'active' : 'inactive'"
            style="margin-left: 20px;">{{step?.stepName}}</span>
    </div>
    <br>
    <form style="margin-top:60px" [formGroup]="stepForm" skipValidation>
        <div formArrayName="wizardControls">
            <div *ngFor="let control of getWizardControls().controls let i = index">
                <div class="form-group wizard-form-controls row" [formGroupName]="i" style="margin-top:10px">
                    <div>
                        <div class="col col-md-4 wizard-form-controls">
                            <container-element [ngSwitch]="control.get('type')?.value">
                                <app-wizard-text *ngSwitchCase="0" [elementId]="control.get('elementId')?.value"
                                    [index]="i" [label]="control.get('label')?.value">
                                </app-wizard-text>
                                <app-wizard-number *ngSwitchCase="2" [elementId]="control.get('elementId')?.value"
                                    [index]="i" [label]="control.get('label')?.value">
                                </app-wizard-number>
                                <app-wizard-radio-button *ngSwitchCase="3" [elementId]="control.get('elementId')?.value"
                                [index]="i" [label]="control.get('label')?.value" [lookupDataToSelect]="control.get('lookupDataToSelect')?.value">
                            </app-wizard-radio-button>
                            <app-wizard-drop-down *ngSwitchCase="4" [elementId]="control.get('elementId')?.value"
                            [index]="i" [label]="control.get('label')?.value" [query]="control.get('query')?.value">
                        </app-wizard-drop-down>
                            </container-element>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="(!control.valid) && stepSubmitted">
                        {{control.get('errorMessageAR')?.value}}
                    </div>
                </div>
            </div>

        </div>
    </form>
    <button (click)="currentActiveStep.nextStepId=='-1'?submit():onNext()"
        class="btn btn-primary actions-btns">{{currentActiveStep.nextStepId=='-1'?"ارسال":"التالى"}}</button>
    <button (click)="onPrevious()" class="btn btn-secondary actions-btns"
        [disabled]="currentActiveStep.previousStepId=='-1'">السابق</button>
</div>
{{dataSubmitted}}